{% extends "brochure/layout.html" %}

{% block body %}
<div style="width: fit-content; margin-top: 5%; margin-left: 12%; height: max-content;">
    <div class="hero" style="text-align: left; margin-left: 10%">
      <h1 style="color: dodgerblue; font-size: 64px;">Welcome to SARIC Cloud</h1>
    </div>
    <p style="font-size: 32px; width: 100%; margin-top: 7%;" >
      SARIC Cloud has the ability to change the way you use the cloud <br>and cloud workflows
    </p>
  </div>
  <div style="width: 100%; height: 2%;margin-top: 10%; background-color: dodgerblue; box-shadow: 0 0px 0px 0 deepskyblue, 0 2px 10px 0 deepskyblue">
    &nbsp;
  </div>
  <div style="width: fit-content; margin-top: 7%; margin-left: 40%; height: max-content;">
    <h1 style="color: dodgerblue; font-size: 50px;">What makes SARIC Cloud so special?</h1>
  </div>

{% endblock %}