{% extends "brochure/layout.html" %}

{% block body %}
<div style="width: fit-content; margin-top: 5%; margin-left: 12%; height: max-content;">
    <div class="hero" style="text-align: left; margin-left: 10%">
      <h1 style="color: dodgerblue; font-size: 64px;">welcome to Typos</h1>
    </div>
    <p style="font-size: 32px; width: 100%; margin-top: 7%;" >
      one stop solution for failures made by failures <br> (bio students change ur subjects)
    </p>
    <form class="d-flex hero-flex" style="background-color: white; border-radius: 5px; ">
      <button type="button" class="btn btn-outline-primary" >Physics</button>
      <button type="button" class="btn btn-outline-primary" >Chemistry</button>
      <button type="button" class="btn btn-outline-primary" >Mathematics</button>
    </form>

    <form class="hero-flex" style="background-color: white; border-radius: 5px; margin-top: 3%;">
      <button type="button" class="btn btn-outline-primary" >Physics</button>
      <button type="button" class="btn btn-outline-primary" >Chemistry</button>
      <button type="button" class="btn btn-outline-primary" >Mathematics</button>
    </form>
</div>





{% endblock %}