form:hover{
    box-shadow: 0 0px 0px 0 dodgerblue, 0 2px 10px 0 dodgerblue;
}

.card{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 7%;
}

.hero{
    margin-top: 4%;
    margin-left: 10%;
    width: max-content;
    overflow-x: visible;
    border-bottom: darkgray;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    display: inline-block;
}

